<h1>welcome to <strong>Bookers </strong>!!</h1>
<p>In <strong>Bookers</strong>,</p>
<p>you can share and exchage youe opinions , inpressions , and emotions</p>
<p>about various books!</p>
<li>
  <%= link_to "Log in", user_session_path %> <!-- linkの背景色の変更 -->
</li>
<li>
  <%= link_to "Sign up", new_user_registration_path %> <!-- linkの背景色の変更 -->
</li>